* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url('./pexels-eberhard-grossgasteiger-2310713.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

#app {
  width: 350px;
  height: 600px;
  border: 2px solid #212529;
  border-radius: 8px;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

[class^="card-"] {
  border: 2px solid gray;
  border-radius: 4px;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-1 img {
  width: 65px;
}

.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
